* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #f59e0b;
  --orange-color: #f59e0b;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --gold-color: gold;

  --main-padding: 60px;
}
body {
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* Start Settings */

aside a.open {
  position: fixed;

  padding: 7px;
  cursor: pointer;
  z-index: 4;
  top: 70px;
  left: 0px;
  transition: 0.3s;
}
aside a.opened {
  left: 200px;
}

aside .settings {
  width: 200px;
  height: 100vh;
  position: fixed;
  z-index: 5;
  transition: 0.3s;
  left: -200px;
  overflow: hidden;
}
aside .settings.opened {
  left: 0px;
}
aside .settings .colors ul {
}
aside .settings .colors ul li {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
aside .settings .colors ul li.selected {
  outline: 3px solid white;
}
aside .settings .colors ul li.orange {
  background-color: var(--orange-color);
}
aside .settings .colors ul li.red {
  background-color: var(--red-color);
}
aside .settings .colors ul li.teal {
  background-color: teal;
}
aside .settings .colors ul li.deepblue {
  background-color: deepskyblue;
}
aside .settings .colors ul li.green {
  background-color: var(--green-color);
}

aside .settings .random-bg button,
aside .settings .show-bulls button {
  padding: 5px 15px;
  cursor: pointer;
  background-color: var(--main-color);
}
aside .settings .random-bg button:not(.active),
aside .settings .show-bulls button:not(.active) {
  opacity: 0.5;
}
aside .settings > button {
  margin: 20px auto;
  cursor: pointer;
}

/* End Settings */
/* Start header */
header {
  height: 70px;
  position: absolute;
  z-index: 2;
}
@media (max-width: 767px) {
  header .container {
    overflow: visible;
  }
}
header .bars {
  font-size: 25px;
  color: var(--main-color);
  cursor: pointer;
  position: relative;
  display: none;
  margin-right: 20px;
}
header .bars:hover + nav {
  display: block;
}
@media (max-width: 767px) {
  header .bars {
    display: block;
  }
  header .bars.bars-opened::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    top: 40px;
    right: 0px;
    background-color: white;
  }
}
header nav {
  justify-self: flex-end;
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .ul-mob {
    padding-left: 30px;
    position: absolute;
    top: calc(0px + 70px);
    background-color: white;
    width: calc(100% - 30px);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
}
header nav ul li a {
  color: white;
}

@media (max-width: 767px) {
  header nav ul li a {
    color: black;
  }
}
header nav ul li a:hover {
  color: var(--main-color);
  transition: 0.3s;
}

/* End header */
/* Start Landing Page */
.landing-page {
  background-image: url("../images/Landing-page/01.jpg");
  background-size: cover;
  position: relative;
  height: calc(100vh);
}
.landing-page .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.11);
}
.landing-page .bullets {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 5000000000000000;
}
.landing-page .bullets.hide {
  display: none;
}
.landing-page .bullets a {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.landing-page .bullets a::before {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: var(--main-color);
  left: -120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: -7px;
  font-weight: 500;
  display: none;
}

.landing-page .bullets a:first-of-type::before {
  content: "About Us";
}
.landing-page .bullets a:nth-child(2)::before {
  content: "Skills";
}
.landing-page .bullets a:nth-child(3)::before {
  content: "Gallery";
}
.landing-page .bullets a:nth-child(4)::before {
  content: "Timeline";
}
.landing-page .bullets a:nth-child(5)::before {
  content: "Features";
}
.landing-page .bullets a:nth-child(6)::before {
  content: "Testimonials";
  width: 130px;
  left: -150px;
}
.landing-page .bullets a:last-of-type::before {
  content: "Contact Us";
  width: 130px;
  left: -150px;
}
.landing-page .bullets a::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: var(--main-color);
  transform: rotate(45deg);
  left: -28px;
  top: 2px;
  display: none;
}

.landing-page .bullets a:hover::before,
.landing-page .bullets a:hover::after {
  display: flex;
}
.landing-page .text h1 span {
  color: var(--main-color);
}
.landing-page .text p {
  margin: 10px auto 0px;
}
/* End Landing Page */
/* Start About us */
section.about {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
section.about .text h2 {
  color: var(--main-color);
}
section.about .text {
  flex: 1;
}
section.about .text p {
  line-height: 1.6;
}
section.about .img {
  flex: 1;
}
section.about .img img {
  max-width: 200px;
}
/* End About us */
/* Start Skills */
section.skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
section.skills h2 {
  color: var(--main-color);
}
section.skills .skill {
}
section.skills .skill > span {
  width: 20%;
}

section.skills .skill .progress {
  height: 30px;
  width: 80%;
}
@media (max-width: 767px) {
  section.skills .skill > span,
  section.skills .skill .progress {
    width: 100%;
  }
}
section.skills .skill .progress > span {
  width: 0;
  transition: 0.5s;
  height: 100%;
  background-color: var(--main-color);
}
/* End Skills */
/* Start Gallery */
section.gallery {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
section.gallery h2 {
  color: var(--main-color);
}

section.gallery .images > div {
  border: 5px solid #777;
}
section.gallery .images img {
  height: 100px;
  width: 200px;
  padding: 3px;
  border: 1px solid #777;
  cursor: pointer;
}
@media (max-width: 767px) {
  section.gallery .images img {
    margin-left: auto;
    margin-right: auto;
  }
}

section.gallery .pop-up-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: 0px 0px 4px 0px black;
  border-radius: 5px;
  z-index: 10;
}
section.gallery .pop-up-img > span {
  position: absolute;
  background-color: var(--main-color);
  border-radius: 50%;
  top: -20px;
  right: -15px;
  cursor: pointer;
  box-shadow: 1px 0px 4px 0px black;
}
section.gallery .pop-up-img h3 {
  color: var(--main-color);
}
section.gallery .pop-up-img img {
  width: 600px;
  height: 300px;
}
/* End Gallery */

/* Start TimeLine */
section.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
}

section.timeline .timeline-content {
  overflow: hidden;
}
section.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -1px;
  background-color: var(--main-color);
}
section.timeline .year {
  margin: 20px auto;

  background-color: var(--main-color);
  position: relative;
}
section.timeline .timeline-content .left-box,
section.timeline .timeline-content .right-box {
  width: calc(50% - 30px);
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  section.timeline .timeline-content .left-box,
  section.timeline .timeline-content .right-box {
    width: 100%;
    margin-bottom: 30px;
  }
}
section.timeline .timeline-content .left-box {
  float: left;
}
section.timeline .timeline-content .left-box::before,
section.timeline .timeline-content .right-box::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  right: -43px;
  background-color: white;
  top: 20px;
}
section.timeline .timeline-content .left-box::after,
section.timeline .timeline-content .right-box::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: white;
  right: -6px;
  transform: rotate(45deg);
  top: 23px;
}
section.timeline .timeline-content .right-box {
  float: right;
}
section.timeline .timeline-content .right-box::before {
  left: -43px;
}
section.timeline .timeline-content .right-box::after {
  left: -6px;
  top: 25px;
}
section.timeline .test-heading {
}
section.timeline .test-heading h3 {
  color: var(--main-color);
}
section.timeline .test-heading p {
  line-height: 1.5;
}
.clearfix {
  clear: both;
}
/* End TimeLine */

/* Start Features */
section.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
section.features .container h2 {
  color: var(--main-color);
}
section.features .container .features {
  flex-wrap: wrap;
  margin-top: 50px;
}
@media (max-width: 767px) {
  section.features .container .features {
    gap: 40px;
  }
}
section.features .container .features .feature {
  flex-basis: 30%;
  justify-self: center;
}
section.features .container .features .feature img {
  min-width: 100px;
}
section.features .container .features .feature h3::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: var(--main-color);
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
}
section.features .container .features .feature p {
  line-height: 1.7;
}
/* End Features */
/* Start Testimonials  */
section.testims {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
section.testims .background {
  z-index: -1;
  top: 0;
  left: 0;
}
section.testims .background .left {
  background-color: var(--main-color);
  width: 50%;
}
section.testims .background .right {
  background-color: rgb(37, 36, 36);
  width: 50%;
}

section.testims .container .boxes .box p {
  font-style: italic;
}
section.testims .container .boxes .box {
  flex-basis: calc((100% / 3) - 20px);
}
section.testims .container .boxes .box,
section.testims .container .boxes .box span {
  transition: 0.3s;
}
section.testims .container .boxes .box:hover {
  transform: translateY(-10px);
}
@media (max-width: 767px) {
  section.testims .container .boxes .box:hover {
    transform: translateX(-10px);
  }
}
section.testims .container .boxes .box:hover span.name {
  color: var(--main-color);
}
/* End Testimonials  */

/* Start Contact Us */
section.contact {
}
section.contact .container {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url("../images/map.jpg");
  background-size: contain;
  z-index: 1;
}
section.contact .container .overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.733);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -3;
}
section.contact .container h2 {
  color: var(--main-color);
  margin-bottom: 50px;
}
section.contact .container form {
  max-width: 800px;
  margin: 30px auto;
}
@media (max-width: 767px) {
  section.contact .container form {
    gap: 40px;
  }
}
section.contact .container form .left {
  flex: 1;
}
section.contact .container form input,
section.contact .container form textarea {
  background-color: #ececec50;
  outline: none;
  transition: 0.3s;
}
section.contact .container form .right {
  align-self: stretch;
  flex: 1;
}

section.contact .container form .right textarea {
  height: 70%;
  resize: none;
}
@media (max-width: 767px) {
  section.contact .container form .right textarea {
    min-height: 100px;
  }
}
section.contact .container form .right input[type="submit"] {
  background-color: var(--main-color);
  cursor: pointer;
}
section.contact .container form input:focus,
section.contact .container form textarea:focus {
  border-color: var(--main-color);
}
/* End Contact Us */
/* Start Footer */
footer {
  background-color: var(--main-color);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/* End Footer */
body > .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  left: 0;
  top: 0;
}
